* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

header{
    text-align: center;
    color: white;
    background-color: cadetblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

header nav ul a {
    text-decoration: none;
    color: white
}

section {
    margin: 0 10px 5px 10px;
}

#project-1 {
    background-image: url(./images/pexels-matheus-guimarães-611328.jpg);
    height: 250px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

#project-2 {
    background-image: url(./images/pexels-aron-visuals-1743165.jpg);
    height: 250px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

#project-3 {
    background-image: url(./images/pexels-format-1029757.jpg);
    height: 250px;
    opacity: 0.5;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

#project-4 {
    background-image: url(./images/pexels-pixabay-259280.jpg);
    height: 250px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

#project-5 {
    background-image: url(./images/pexels-andrew-neel-2312369.jpg);
    height: 250px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.background:hover{
    opacity:0.75;
}

