* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

header{
    text-align: center;
    color: white;
    background-color: cadetblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

header nav ul a {
    text-decoration: none;
    color: white
}

section {
    margin: 0 10px 5px 10px;
}