* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

img {
    border-radius: 10px;
}

span {
    margin-left: 15px;
}

/* Header and Nav Styling */
header {
    padding:15px 0;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
    z-index: 9999;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 36px;
}

header img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

header nav {
    display: inline-block;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
    padding-left: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}

/*Projects and About Me Section Styling*/
#projects,
#about {
    border-bottom: 2px solid slategrey;
    padding-top: 15px;
    padding-bottom: 15px;
}

#projects,
#about {
    width: 75%;
    margin:auto
}

#main-project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#description {
    flex: .5
}

#minor-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

#minor-description {
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: 15px;
}

#minor-description p {
    height: 50px;
}

.project-img:hover {
    opacity: 0.5;
}

/*Contact Section Styling*/
#contact {
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;

}

#contact ul {
    list-style: none;
}

#contact ul li a{
    text-decoration: none;
    color: black;
}

#contact-list {
    display: flex;
    justify-content: space-around;
}

/*Footer Styling*/
footer {
    text-align: center;
    padding: 15px 0;
    background-color: darkgray;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 320px) {
    
}